<section class="author-name">
  <p><%= @author.name %></p>
</section>

<%= @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <img src="<%= book.thumbnail %>" alt="Cover of <%= book.title %>">
    <p>Title: <%= book.title %></p>
    <p>Page Count: <%= book.pages %></p>
    <p>Year Published: <%= book.year_published %></p>
  </section>
<% end %>
