<section class="author-name">
  <p><%= @author.name %></p>
  <%= link_to "Delete Author", author_path(@author), method: :delete %>
</section>

<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <a href=<%= book_path(book) %>><img src="<%= book.thumbnail %>" alt="Cover of <%= book.title %>"></a>
    <p>Title: <%= link_to book.title, book_path(book) %></p>
    <p>Page Count: <%= book.pages %></p>
    <p>Year Published: <%= book.year_published %></p>
      <% if book.authors.count > 1 %>
      <p>Co-Authors:</p>
      <ul>
        <% book.remove_author(@author).each do |author| %>
          <li><%= link_to author.name, author_path(author) %></li>
        <% end %>
      </ul>
      <% end %>
    <p>Top Review:</p>
    <%book.grab_reviews("top", 1).each do |review| %>
    <ul>
      <li>Title: <%= review.title %></li>
      <li>Rating: <%= review.rating %> out of 5</li>
      <li>User: <%= link_to review.username, user_path(review) %>  </li>
    </ul>
    <% end %>
  </section>
<% end %>
