<section class="secondary-nav">
  <%= link_to "Add a Book", new_book_path %>
</section>
<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <img src="<%= book.thumbnail %>" alt="cover of <%= book.title %>">
    <p>Title: <%= book.title %> </p>
    <p>Page Count: <%= book.pages %> </p>
    <p>Year Published: <%= book.year_published %> </p>
    <p>Author(s):</p>
    <ul>
    <% book.authors.each do |author| %>
      <li><%= link_to author.name %></li>
    <% end %>
    </ul>
    <p>Average rating: <%= book.average_rating %> out of 5</p>
    <p>Total reviews: <%= book.review_count %></p>
  </section>
<% end %>
