<section class="book-information">
  <img src="<%= @book.thumbnail %>" alt="cover of <%= @book.title %>">
  <p>Title: <%= @book.title %> </p>
  <p class="average-rating">Rating: <%= @book.average_rating %></p>
  <p>Page Count: <%= @book.pages %> </p>
  <p>Year Published: <%= @book.year_published %> </p>
  <p>Author(s):</p>
  <ul class="authors">
  <% @book.authors.each do |author| %>
    <li><%= link_to author.name, author_path(author) %></li>
  <% end %>
  </ul>
  <section class="book-stats">
    <% unless @book.reviews.empty? %>
      <section class="top-reviews">
        <p>Top Reviews</p>
        <% @book.grab_reviews('top', 3).each do |review| %>
          <p>Title: <%= review.title %>, Rating: <%= review.rating %>, User: <%= link_to review.username %></p>
        <% end %>
      </section>

      <section class="bottom-reviews">
        <p>Bottom Reviews</p>
        <% @book.grab_reviews('bottom', 3).each do |review| %>
          <p>Title: <%= review.title %>, Rating: <%= review.rating %>, User: <%= link_to review.username %></p>
        <% end %>
      <% else %>
        <%= link_to "Be the first to review this book", new_book_review_path(@book) %>
      <% end %>
    </section>
  </section>
</section>

<section class="reviews">
  <%= link_to 'Add review', new_book_review_path(@book) %>
  <% @book.reviews.each do |review| %>
    <article class="review" id="review-<%= review.id %>">
      <p><%= review.username %></p>
      <p><%= review.rating %>/5</p>
      <p><%= review.title %></p>
      <p><%= review.description %></p>
    </article>
  <% end %>
</section>
