<div class="form-title">
  <h1>Add a review for <%= @book.title %></h1>
</div>

<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<section class="form">
<%= form_for [@book, @review] do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 1..5 %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p><%= f.submit %></p>

<% end %>
</section>
