<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li id='book-logo-li'><img id='book-logo' src="https://freeiconshop.com/wp-content/uploads/edd/book-open-flat.png" alt="Image of book logo"></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Browse Books', books_path %></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
